# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
pnpm-lock.yaml
yarn.lock
package-lock.json

# Build directories
dist
build
out
public/static
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific files
*.bak
*.tmp

# Dependency directories
jspm_packages/
bower_components/

# Testing
coverage/
*.test.js
*.spec.js

# Next.js
.next/
